body {
  background-color: #FFFFFF;
  font-family: 'Lato', sans-serif;
}

/*.iframe {
  width:"650";
  height:"450";
  frameborder:"0";
  style:"border:0";
}*/

.title {
  color: #FFFFFF;
  padding-left: 15px;
}

.right {
    position: absolute;
    right: 10px;
}

.required {
  color: red;
}

.navbar-button-container {
  padding-left: 5px;
}

.profile-container {
  padding-left: 10px;
}

.logout {
  padding: 3px;
  padding-right: 2px;
  box-shadow: 3px 3px 2px grey;
  background-color: #E50606;
  border:1px solid black;
  display: inline-block;
}

.dosageInput {
  margin-top: 10px;
  width: 210px;
}
.remindBtn {
  margin-top: 10px;
}

.doctor-name {
  font-size: 18pt;
  font-weight: bold;
}

.doctor-attribute {
  font-weight: bold;
}

.doctor-input {
  border-radius:2px;
  background-color: #FFFFFF;
  border:1px solid black;
}

.navbar-container {
  border-radius:2px;
  border:1px solid black;
  background-color: #09096A;
}

.signin-container {
  padding-left: 10px;
  border-radius:2px;
  background-color: #FFFFFF;
  border:1px solid black;
}

.signin-cat {
  padding-right: 5px;
}

.invalid {
  color: red;
}

.doctor-view-container {
  padding: 5px;
  border-radius:2px;
  background-color: #FFFFFF;
  border:1px solid black;
}

.navbar-button {
  padding: 3px;
  box-shadow: 3px 3px 2px grey;
  background-color: #D2D2DB;
  border:1px solid black;
  display: inline-block;
}

.doctor-entry-form {
  padding: 5px;
}

.signin-button {
  padding: 3px;
  background-color: #9DDDFF;
  border:1px solid black;
  display: inline-block;
}

.signup-container {
  padding-left: 10px;
}

/* STYLES FOR CALENDAR IN SCRIPT REMIND VIEW */
.input-calendar {
  font-family: 'Pontano Sans', sans-serif;
  position: relative;
}

.input-calendar-wrapper {
  position: absolute;
  padding: 5px 12px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  box-shadow: 0 0 9px 5px rgba(0,0,0,0.05);
  background-color: #fff;
  text-align: center;
  left: 140px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-calendar .input-calendar-field {
  width: 120px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 16px;
  padding: 2px 8px;
}

.input-calendar .input-calendar-field:focus {
  outline: none;
  border: 1px solid #f39c12;
}

.input-calendar .calendar-icon {
  display: inline-block;
  padding: 0px 1px 0 5px;
  height: 27px;
  line-height: 27px;
  transform: translateY(4px);
  cursor: pointer;
}

.input-calendar .days,
.input-calendar .months,
.input-calendar .years {
  width: 189px;
  padding-bottom: 2px;
}

.input-calendar .cell {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-calendar .cell:hover {
  color: #f39c12;
  border: 1px solid #f39c12;
  border-radius: 4px;
}

.input-calendar .cell.current {
  background: #f39c12;
  color: #fff;
  border-radius: 4px;
  opacity: .8;
}

.input-calendar .day {
  width: 25px;
  height: 25px;
  line-height: 25px;
}

.input-calendar .day.prev,
.input-calendar .day.next {
  opacity: .4;
}

.input-calendar .month {
  width: 58px;
  height: 38px;
  line-height: 38px;
}

.input-calendar .year {
  width: 58px;
  height: 38px;
  line-height: 38px;
}

.input-calendar .days-title .cell {
  height: 25px;
  line-height: 28px;
  opacity: 0.5;
  cursor: default;
}

.input-calendar .days-title .cell:hover {
  color: #000;
  border: 1px solid #fff;
}

.input-calendar .navigation-title {
  width: 100px;
  display: inline-block;
  cursor: pointer;
}

.input-calendar .years-view .navigation-title {
  cursor: default;
}

.input-calendar .years-view .navigation-title:hover {
  color: #000;
}

.input-calendar .navigation-title:hover {
  color: #f39c12;
}

.input-calendar .icon-wrapper {
  cursor: pointer;
}

.input-calendar .icon:hover,
.input-calendar .today-btn:hover,
.input-calendar .icon-wrapper:hover {
  color: #f39c12;
}

.input-calendar .icon {
  cursor: pointer;
  width: 20px;
}

.input-calendar .today-btn {
  cursor: pointer;
}

.input-calendar .cell.day.today {
  position: relative;
}

.input-calendar .cell.day.today:after {
  content: '.';
  position: absolute;
  bottom: 15px;
  font-size: 20px;
  color: #F39C12;
}
/* END OF CALENDAR STYLES*/

.modal-header {
  background-color: #09096A;
  border-radius:2px;
  border:1px solid black;

}

.modal-symptom-container {

}

.modal-button {
  float: right;
  display: inline-block;
}

.hidden { display:none; }

.symptom-select {
  min-height: 200px;
}
