body {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}


input {
  border-radius: 7px;
}

#video-background {
/*  making the video fullscreen  */
  position: fixed;
  background-size: cover;
  height: 700px;
  width: auto;
  /*right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  /*height: auto;*/
  z-index: -100;
}

.dropdown-replacement {
  border-radius: 7px;
}
.splashName {
  position: absolute;
  top:0;
  left:20px;
  margin-top: 5px;
}
.signInSplash {
  position: absolute;
  text-align: center;
  left: 50%;
/*margin: auto;*/
}
.signUpSplash {
  position: absolute;
}
.appDescribe {
  position: relative;
  /*margin-bottom: 100px;*/
}

/*****  COLORS  *****/

.red {
  color: #CD0000;
}

.gold {
  color: #CDAD00;
}

.phone-green {
  color: #228b22;
}

.royal-blue {
  color: #27408B;
}

.orange {
  background-color: #d35400;
}

.nephritis {
  background-color: #27ae60;
}

.midnight-blue {
  background-color: #2c3e50;
}

/* END OF COLORS */


.topName {
  color: yellow;
}

.btns {
  display: flex;
  align-self: flex-start;
  justify-content: flex-end;
}

.top {
  display: flex;
  flex-direction: row;
}

.topName {
  color: yellow;
}

.btns {
  display: flex;
  align-self: flex-start;
  justify-content: flex-end;
}

.right {
  position: absolute;
  right: 10px;
}

.orange {
  background-color: #d35400;
}

.btn {
color: #FFFFFF;
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}

.required {
  color: red;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-container {
  padding-left: 10px;
}

.dosageInput {
  margin-top: 10px;
  width: 210px;
}
.remindBtn {
  margin-top: 10px;
}

/* PROFILE */

.profile-container {
  background-color: #D8D8D8;
}

/********* DOCTORS *********/

.doctor-name {
  margin-left: 5px;
  font-size: 22pt;
  font-weight: bold;
}

.doctors-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 8px;
}

.doctor-attribute {
  margin-left: 5px;
  font-size: 14pt;
  font-weight: bold;
}

.doctor-input {
  border-radius:2px;
  background-color: #FFFFFF;
  border:1px solid black;
}


.doctor-controls {
  text-align: right;
}

.doctors-container {
  float:right;
  width: 550px;
  margin-top: 10px;
  margin-left: 20px;
  padding: 10px;
  background-color: #2980b9;
  border-radius: 7px;
   padding:5px;
}

.doctor-top-bar {
  display: flex;
  justify-content: space-between;
}

.doctor-view-container {
  padding: 25px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
  border-radius:2px;
  background-color: #FFFFFF;
  border-radius: 7px;
}


.doctor-entry-form {
  padding: 5px;
}

.doctors-title {
  font-size: 26pt;
  margin-left: 5px;
  text-align: center;
  color: white;
  font-weight: lighter;

}

/*********** SCRIPTS ***********/


.zipcode-input {
  width: 70px;
  height: 34px;
  padding-bottom: 2px;
  margin-right: 5px;
  text-align: center;
  border-radius: 5px;
   padding:2px;
}
.scripts-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 8px;

}

.scripts-doctors {
  display: flex;
  justify-content: center;
  background-color: #ecf0f1;
}
.scripts-container {
  float:left;
  width: 550px;
  margin-top: 10px;
  margin-right: 20px;
  padding: 10px;
  background-color: #e74c3c;
  border-radius: 7px;
   padding:5px;
}

.scripts-title {
  text-align: center;
  font-size: 30pt;
  color: white;
  font-weight: lighter;
}

.script-top-bar {
  display: flex;
  justify-content: space-between;
}

.scripts-view-container {
  padding: 25px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
  border-radius:2px;
  background-color: #FFFFFF;
  border-radius: 7px;
}

.script-name {
  margin-left: 5px;
  font-size: 22pt;
  font-weight: bold;
}

.script-attribute {
  margin-left: 10px;
  font-size: 14pt;
  font-weight: bold;
}

.script-form-frame {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  background-color: white;
  color: black;
  border-radius: 7px;
  padding: 10px;
  margin: 10px;
}

.script-form-fields {
  display: flex;
  flex-flow: row nowrap;
}

/******** NAVIGATION ********/

.navbar-container {
  border-radius:2px;
  border:1px solid black;
  background-color: #2c3e50;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-button {
  padding: 3px;
  box-shadow: 3px 3px 2px grey;
  background-color: #D2D2DB;
  border:1px solid black;
}

.navbar-button-container {
  padding-left: 5px;
}

.logout {
  padding-right: 15px;
}
.title {
  color: #FFFFFF;
  padding-left: 15px;
}
.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top {
  display: flex;
  justify-content: center;
  color: yellow;
}
/* Sign-in & Sign-up */

.signin-container {
  padding-left: 10px;
  border-radius:2px;
  background-color: #FFFFFF;
  border:1px solid black;
}

.signin-cat {
  padding-right: 5px;
}

.signin-button {
  padding: 3px;
  background-color: #9DDDFF;
  border:1px solid black;
  display: inline-block;
}

.signup-container {
  padding-left: 10px;
}

/* OTHER  */
.invalid {
  color: red;
}

.clear {
  clear: both;
}


.reminder {
  float: left;
  margin-right: 30px;
}


/* STYLES FOR CALENDAR IN SCRIPT REMIND VIEW */
.input-calendar {
  font-family: 'Pontano Sans', sans-serif;
  position: relative;
}

.input-calendar-wrapper {
  position: absolute;
  padding: 5px 12px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  box-shadow: 0 0 9px 5px rgba(0,0,0,0.05);
  background-color: #fff;
  text-align: center;
  left: 140px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-calendar .input-calendar-field {
  width: 120px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 16px;
  padding: 2px 8px;
}

.input-calendar .input-calendar-field:focus {
  outline: none;
  border: 1px solid #f39c12;
}

.input-calendar .calendar-icon {
  display: inline-block;
  padding: 0px 1px 0 5px;
  height: 27px;
  line-height: 27px;
  transform: translateY(4px);
  cursor: pointer;
}

.input-calendar .days,
.input-calendar .months,
.input-calendar .years {
  width: 189px;
  padding-bottom: 2px;
}

.input-calendar .cell {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-calendar .cell:hover {
  color: #f39c12;
  border: 1px solid #f39c12;
  border-radius: 4px;
}

.input-calendar .cell.current {
  background: #f39c12;
  color: #fff;
  border-radius: 4px;
  opacity: .8;
}

.input-calendar .day {
  width: 25px;
  height: 25px;
  line-height: 25px;
}

.input-calendar .day.prev,
.input-calendar .day.next {
  opacity: .4;
}

.input-calendar .month {
  width: 58px;
  height: 38px;
  line-height: 38px;
}

.input-calendar .year {
  width: 58px;
  height: 38px;
  line-height: 38px;
}

.input-calendar .days-title .cell {
  height: 25px;
  line-height: 28px;
  opacity: 0.5;
  cursor: default;
}

.input-calendar .days-title .cell:hover {
  color: #000;
  border: 1px solid #fff;
}

.input-calendar .navigation-title {
  width: 100px;
  display: inline-block;
  cursor: pointer;
}

.input-calendar .years-view .navigation-title {
  cursor: default;
}

.input-calendar .years-view .navigation-title:hover {
  color: #000;
}

.input-calendar .navigation-title:hover {
  color: #f39c12;
}

.input-calendar .icon-wrapper {
  cursor: pointer;
}

.input-calendar .icon:hover,
.input-calendar .today-btn:hover,
.input-calendar .icon-wrapper:hover {
  color: #f39c12;
}

.input-calendar .icon {
  cursor: pointer;
  width: 20px;
}

.input-calendar .today-btn {
  cursor: pointer;
}

.input-calendar .cell.day.today {
  position: relative;
}

.input-calendar .cell.day.today:after {
  content: '.';
  position: absolute;
  bottom: 15px;
  font-size: 20px;
  color: #F39C12;
}
/* END OF CALENDAR STYLES*/

.modal-header {
  background-color: #09096A;
  border-radius:2px;
  border:1px solid black;

}

.modal-content {
  background-color: #2c3e50;
  color: #ffffff;
}

.modal-button {
  display:flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  background-color: blue;
  border-radius: 50%;
  margin: 10px;
  padding: 20px;
  font-size: 60px;
  color: white;
}

.hidden { display:none; }
.highlight {
  background-color: green;
}

.symptom-modal-voting {
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
}

.symptom-container {
  display: flex;
  justify-content: center;
  background-color: #2c3e50;
}

.modal-button-close-container {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  background-color: #2c3e50;
}

.modal-button-close {
  display:flex;
  color: #ffffff;
  border-radius: 50%;
  justify-content: flex-end;
  margin: 10px;
}

/*.STYLES FOR PRINTING BRAIN*/
.brain-print-container {
  margin: 0 auto;
  width: 200px;
  height:100px;
}

.brain-print-block {
  display: inline-block;
}

.brain-print-block-show {
  display: inline-block;
  background: #6871C4;
  margin: 2px;
  width:10px;
  height:10px;
}

.brain-print-block-hide {
  display: inline-block;
  background:white;
  margin: 4px;
  width:10px;
  height:10px;
}

/*REACT ANIMATION CSS*/

.blink-enter {
  opacity: 0.01;
}

.blink-enter .blink-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.blink-leave {
  opacity: 1;
}

.blink-leave .blink-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/*STYLES FOR MODAL*/

.FilteredMultiSelect {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.symptom-select-button--inactive {
  display: block;
  border-radius: 7px;
  padding: 5px;
  width: 90%;
  color: #333333;
}

.symptom-select-button--active {
  background-color: #09096A;
  color: white;
  display:block;
  width: 90%;
}

.symptom-select-filter {
  display:block;
  width: 90%;
  color: #333333;
}

 .symptom-select-select {
  display:block;
  width: 90%;
  color: #333333;
 }

.selected-symptoms {
  display: flex;
  flex-flow: column wrap;
  color: black;
}



.map-container {
  padding: 10px;
}
  display:inline-block;
  min-width: 50%;
 }

.ReactFlipCard {
    margin: 25px;
    text-align: center;
  }
  .ReactFlipCard,
  .ReactFlipCard__Front,
  .ReactFlipCard__Back {
    box-sizing: border-box;
    width: 250px;
    height: 300px;
  }
  .ReactFlipCard__Front,
  .ReactFlipCard__Back {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 25px;
  }
  .ReactFlipCard__Front {
    background-color: #eee;
  }
  .ReactFlipCard__Back {
    background-color: #cef;
  }
  #example {
    text-align: center;
  }