.doctor-input {
  border:1px solid black;
}

.navbar-container {
  border:1px solid black;
}

.signin-container {
  border:1px solid black;
}

.doctor-view-container {
  border:1px solid black;
}

.navbar-button {
  border:1px solid black;
  display: inline-block;
}

.signin-button {
  border:1px solid black;
  display: inline-block;
}